<% layout("/layouts/boilerplate") %>
<body>
    <br><br>
    <h3 style="display: flex; justify-content: center;">Edit your Listing</h3>
    <div class="col-8 offset-2">
      <form enctype="multipart/form-data" action="/listings/<%= listing._id %>?_method=PUT" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input required type="text" name="listing[title]" value="<%= listing.title %>" placeholder="Enter Title" class="form-control">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea  required class="form-control" name="listing[description]" placeholder="Enter Description"><%= listing.description %></textarea>
        </div>

        <div class="mb-3">
            Original listing image
            <img src="<%= originalImageUrl %>" alt="">
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input class="form-control" type="file" name="listing[image]"  placeholder="Image URL/Link">
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input  required class="form-control" type="number" name="listing[price]" value="<%= listing.price %>" placeholder="Enter Price">
            </div>

            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input required class="form-control" type="text" name="listing[country]" value="<%= listing.country %>" placeholder="Enter Country Name">
            </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input required class="form-control" type="text" name="listing[location]" value="<%= listing.location %>" placeholder="Enter Location">
        </div>
        
        <br><br>
        <button class="btn btn-dark" style="background-color: #fe424d; border: none;">Update</button>
        <br><br>
      </form>
    </div>
</body>
